In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import path

In [3]:
pm25 = pd.read_csv("./dataset/pollution_pm25.csv")
ozone = pd.read_csv("./dataset/pollution_ozone.csv")
f_fule = pd.read_csv("./dataset/fossil-fuel-consumption-by-fuel-type.csv")

In [ ]:
pm25.head()

,Exposure Id,Type,Country,ISO3,Region,Name,Exposure Lower,Exposure Mean,Exposure Upper,Year,Pollutant,Pollutant Name,Region Name,Units
0,12391,country,Afghanistan,AFG,country,Afghanistan,21.0,49.3,92.9,1990,pm25,PM25,Country,µg/m3
1,12392,country,Afghanistan,AFG,country,Afghanistan,23.1,48.6,91.9,1995,pm25,PM25,Country,µg/m3
2,12393,country,Afghanistan,AFG,country,Afghanistan,26.5,51.6,92.7,2000,pm25,PM25,Country,µg/m3
3,12394,country,Afghanistan,AFG,country,Afghanistan,26.1,46.2,77.0,2005,pm25,PM25,Country,µg/m3
4,12395,country,Afghanistan,AFG,country,Afghanistan,32.5,51.8,77.9,2010,pm25,PM25,Country,µg/m3

In [4]:
ozone.loc[ozone["Country"]=="Afghanistan"]

,Exposure Id,Type,Country,ISO3,Region,Name,Exposure Lower,Exposure Mean,Exposure Upper,Year,Pollutant,Pollutant Name,Region Name,Units
0,12405,country,Afghanistan,AFG,country,Afghanistan,55.7,56.6,57.5,1990,ozone,Ozone,Country,pbb
1,12406,country,Afghanistan,AFG,country,Afghanistan,53.8,54.7,55.6,1995,ozone,Ozone,Country,pbb
2,12407,country,Afghanistan,AFG,country,Afghanistan,55.3,56.3,57.0,2000,ozone,Ozone,Country,pbb
3,12408,country,Afghanistan,AFG,country,Afghanistan,52.8,53.6,54.5,2005,ozone,Ozone,Country,pbb
4,12409,country,Afghanistan,AFG,country,Afghanistan,52.2,53.0,53.8,2010,ozone,Ozone,Country,pbb
5,12410,country,Afghanistan,AFG,country,Afghanistan,51.1,52.0,52.9,2011,ozone,Ozone,Country,pbb
6,12411,country,Afghanistan,AFG,country,Afghanistan,52.0,52.8,53.7,2012,ozone,Ozone,Country,pbb
7,12412,country,Afghanistan,AFG,country,Afghanistan,52.7,53.6,54.4,2013,ozone,Ozone,Country,pbb
8,12413,country,Afghanistan,AFG,country,Afghanistan,51.6,52.4,53.3,2014,ozone,Ozone,Country,pbb
9,12414,country,Afghanistan,AFG,country,Afghanistan,52.9,53.8,54.6,2015,ozone,Ozone,Country,pbb
10,12415,country,Afghanistan,AFG,country,Afghanistan,54.5,55.3,56.2,2016,ozone,Ozone,Country,pbb
11,12416,country,Afghanistan,AFG,country,Afghanistan,56.7,57.3,57.9,2017,ozone,Ozone,Country,pbb
12,12417,country,Afghanistan,AFG,country,Afghanistan,53.3,54.2,55.0,2018,ozone,Ozone,Country,pbb
13,12418,country,Afghanistan,AFG,country,Afghanistan,53.3,54.1,55.0,2019,ozone,Ozone,Country,pbb

In [7]:
f_fule.head()

,Entity,Code,Year,Coal Consumption - TWh,Oil Consumption - TWh,Gas Consumption - TWh
0,Africa,NaN,1965,323.496138,327.333164,9.543754
1,Africa,NaN,1966,323.122193,358.132674,10.669916
2,Africa,NaN,1967,330.291585,355.281459,10.545670
3,Africa,NaN,1968,343.512911,374.852131,10.688970
4,Africa,NaN,1969,346.642922,379.973086,12.492000

In [14]:
f_fule.Code.unique()

array([nan, 'DZA', 'ARG', 'AUS', 'AUT', 'AZE', 'BGD', 'BLR', 'BEL', 'BRA',
       'BGR', 'CAN', 'CHL', 'CHN', 'COL', 'HRV', 'CYP', 'CZE', 'DNK',
       'ECU', 'EGY', 'EST', 'FIN', 'FRA', 'DEU', 'GRC', 'HKG', 'HUN',
       'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'ISR', 'ITA', 'JPN',
       'KAZ', 'KWT', 'LVA', 'LTU', 'LUX', 'MYS', 'MEX', 'MAR', 'NLD',
       'NZL', 'MKD', 'NOR', 'OMN', 'PAK', 'PER', 'PHL', 'POL', 'PRT',
       'QAT', 'ROU', 'RUS', 'SAU', 'SGP', 'SVK', 'SVN', 'ZAF', 'KOR',
       'ESP', 'LKA', 'SWE', 'CHE', 'TWN', 'THA', 'TTO', 'TUR', 'TKM',
       'UKR', 'ARE', 'GBR', 'USA', 'UZB', 'VEN', 'VNM', 'OWID_WRL'],
      dtype=object)

In [13]:
f_fule.Entity.unique()

array(['Africa', 'Algeria', 'Argentina', 'Asia Pacific', 'Australia',
       'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium',
       'Brazil', 'Bulgaria', 'CIS', 'Canada', 'Central America', 'Chile',
       'China', 'Colombia', 'Croatia', 'Cyprus', 'Czechia', 'Denmark',
       'Eastern Africa', 'Ecuador', 'Egypt', 'Estonia', 'Europe',
       'European Union', 'Finland', 'France', 'Germany', 'Greece',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Mexico', 'Middle Africa', 'Middle East', 'Morocco', 'Netherlands',
       'New Zealand', 'Non-OECD', 'North America', 'North Macedonia',
       'Norway', 'OECD', 'Oman', 'Pakistan', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia',
       'Singapore', 'Slovakia', 'Slovenia', 'South & Central America',
       'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden',
       'Switzerland', 'Taiwan', 'Thailand', 'Trinidad and Tobago',
       'Turkey', 'Turkmenistan', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Western Africa', 'World'], dtype=object)