In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import path

In [13]:
pm25 = pd.read_csv("./dataset/pollution_pm25.csv")
ozon = pd.read_csv("./dataset/pollution_ozone.csv")

In [17]:
pm25.head()

,Exposure Id,Type,Country,ISO3,Region,Name,Exposure Lower,Exposure Mean,Exposure Upper,Year,Pollutant,Pollutant Name,Region Name,Units
0,12391,country,Afghanistan,AFG,country,Afghanistan,21.0,49.3,92.9,1990,pm25,PM25,Country,µg/m3
1,12392,country,Afghanistan,AFG,country,Afghanistan,23.1,48.6,91.9,1995,pm25,PM25,Country,µg/m3
2,12393,country,Afghanistan,AFG,country,Afghanistan,26.5,51.6,92.7,2000,pm25,PM25,Country,µg/m3
3,12394,country,Afghanistan,AFG,country,Afghanistan,26.1,46.2,77.0,2005,pm25,PM25,Country,µg/m3
4,12395,country,Afghanistan,AFG,country,Afghanistan,32.5,51.8,77.9,2010,pm25,PM25,Country,µg/m3

In [18]:
ozon.tail()

,Exposure Id,Type,Country,ISO3,Region,Name,Exposure Lower,Exposure Mean,Exposure Upper,Year,Pollutant,Pollutant Name,Region Name,Units
2851,13590,country,Zimbabwe,ZWE,country,Zimbabwe,37.8,38.7,39.6,2015,ozone,Ozone,Country,pbb
2852,13591,country,Zimbabwe,ZWE,country,Zimbabwe,39.0,39.9,40.8,2016,ozone,Ozone,Country,pbb
2853,13592,country,Zimbabwe,ZWE,country,Zimbabwe,41.6,42.2,42.9,2017,ozone,Ozone,Country,pbb
2854,13593,country,Zimbabwe,ZWE,country,Zimbabwe,40.7,41.6,42.4,2018,ozone,Ozone,Country,pbb
2855,13594,country,Zimbabwe,ZWE,country,Zimbabwe,41.0,41.9,42.8,2019,ozone,Ozone,Country,pbb